<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <%= render 'users/info', user: @user %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>投稿作品一覧</h2>
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li class="active" role="presentation">
                <a aria-controls="tab_illustration" data-toggle="tab" href="#tab_illustration" role="tab">イラスト</a>
              </li>
              <li role="presentation">
                <a aria-controls="tab_music" data-toggle="tab" href="#tab_music" role="tab">音楽</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_illustration" role="tabpanel">
                <table class='table table-hover table-inverse'>
                  <thead>
                    <tr>
                      <th></th>
                      <th>イラストタイトル</th>
                      <th>コメント</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @artworks_illustration.each do |illustration| %>
                      <tr>
                        <td>
                          <%= image_tag illustration.illustration_file.url, size: '100x100' %>
                        </td>
                        <td>
                          <%= link_to "編集", illustration_edit_path(illustration.id), class:"btn btn-sm btn-success" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="tab_music" role="tabpanel">
                <table class='table table-hover table-inverse'>
                  <thead>
                    <tr>
                      <th></th>
                      <th>音楽タイトル</th>
                      <th>コメント</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @artworks_music.each do |music| %>
                      <tr>
                        <td>
                          <%= audio_tag music.music_file.url, controls: "controls", controlslist: "nodownload" %>
                        </td>
                        <td>
                          <%= link_to "編集", music_edit_path(music.id), class:"btn btn-sm btn-success" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>